.card {
    width: 250px;
    border: solid 2px #b4b4b4;
    border-radius: 8px;
    padding: 20px;
    transition: tarnsform 0.3s;
}

.card:hover {
    transform: scale(1.10);
    filter: brightness(80%);
    border-color: #94b5d8;
}

.container {
    display: flex;
    gap: 150px;
    flex-wrap: wrap;
    padding-top: 80px;
}

.card img {
    width: 250px;
    border: solid 0.5px #f0f0f0;
}

.title_wrapper {
    position:relative;
    text-align: center;
}

.title{
    display:inline-block;
    position: relative;
    font-size: 28px;
}

.title::after {
    content: "";
    display: block;
    width: calc(100% + 50px);
    height: 2px;
    background-color: black;
    position: absolute; 
    bottom: -10px;
    left: -25px;
}

.background {
    width: 100vw;
    height: 100vw;
    margin: 0;
    padding: 30px;
}